# Credenciais do Django Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com

# Conexão com o Banco de Dados
POSTGRES_HOST=blrastreamento-postgres
POSTGRES_DB=blrastreamento
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

# Configurações do Traccar
TRACCAR_URL=http://IP_DO_SEU_SERVIDOR:8082
TRACCAR_USER=contato@niochat.com.br
TRACCAR_PASSWORD=admin

# Configurações do Django
SECRET_KEY=django-insecure-blrastreamento123
DEBUG=False
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
